.form__form {
    display: inline-block;
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-top: 24px;
}

.form__form-error {
    color: var(--accent-red);
}

.form__form-row {
    width: calc(100% - 16px);
    float: left;
    margin: 0 8px 16px 8px;
}

.form__form-row--50 {
    width: calc(50% - 16px);
}

.form__form-row--40 {
    width: calc(40% - 16px);
}

.form__form-row--30 {
    width: calc(30% - 16px);
}

.form__form-row--20 {
    width: calc(20% - 16px);
}

.form__form-row--10 {
    width: calc(10% - 16px);
}

.form__form-row--auto {
    width: auto;
}

.form__form-row input,
.form__form-row select,
.form__form-row textarea {
    width: 100% !important;
}

.form__form-row textarea {
    height: 160px;
    resize: none;
}

.form__form .country {
    pointer-events: none !important;
    user-select: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.form__form .btn {
    width: max-content !important;
    min-width: 244px;
    margin-top: 32px;
}