html {
    box-sizing: border-box;
    width: 100vw;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 140px 0 0 0;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

a, a:focus, a:active {
    color: var(--text-color);
    transition: var(--transition);
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
