.cart-icon {
    width: max-content;
    color: var(--sub-bg-color);
    display: flex;
    gap: 14px;
}

.profile-icon {
    background-color: var(--accent-color) !important;
}

.profile-icon:hover {
    background-color: var(--accent-color-hover) !important;
}