.discount--table {
    width: 100%;
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius-small) !important;
    color: var(--text-color);
}
.discount--table--cell {
    border-right: 2px solid white;
    padding: 8px;
}
.discount--table--top {
    padding: 8px;
    font-weight: 600;
}
.discount--table--end {
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn--discount--remove {
    background-color: var(--accent-red-hover);
    color: var(--sub-bg-color);
    border: none;
    position: relative;
    width: 100px;
}

.btn--discount--remove:hover {
    background-color: var(--accent-red);
    color: var(--sub-bg-color);
}
.btn--discount--add {
    color:#fff;
    background-color:#007bff;
    border-radius: var(--border-radius-small) !important;
    border: none;
    position: relative;
    width: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn--discount--add:hover {
    color:#fff;
    background-color:#0069d9;
}
.input--discount{
    background-color: white;
    border-radius: var(--border-radius-small);
    border: none;
}
.btn--discount--grey {
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius-small) !important;
    color: var(--text-color);
    border: none;
    text-align: left;
    position: relative;
    width: auto;
}

.btn--discount--grey:hover {
    background-color: var(--primary-color-hover);
    color: var(--sub-bg-color);
}