.shopping-cart__title {
    font-size: 24px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 22px;
}

.shopping-cart__cart h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: 200;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Shopping cart summary */
.shopping-cart__total {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 200;
    row-gap: 8px;
}

.shopping-cart__total div {
    width: max-content;
}

.shopping-cart__checkout h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: 200;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}